*{
  margin:0; padding:0;
  font-size:inherit;
  color:inherit;
  -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
  text-decoration:none;
  background-color:transparent;
  background-size: contain;

  font-size:11px;
  color:#2d2a2b ;
}




body {
  height: auto !important;
  min-height: 100%;
  position: relative;

  font-size:56px;
  text-align: center;
  color: green;

}
.item{
  width: 100%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: green;
}
body > header > div > div > div.owl-nav{
  position:relative;
  top: -250px;
}
body > header > div > div > div.owl-dots{
position: relative;
  top:-260px;
}
.owl-theme .owl-nav [class*='owl-']{
  background-color: black;
}
.owl-theme .owl-dots .owl-dot span{
  background: red;
}